# Local Development
HTTP_ADDR=
HTTP_PORT=
ENDPOINT_PREFIX=

GRPC_ADDR=
GRPC_PORT=

CONSUL_ADDR=
SERVICE_NAME=
LOG_LEVEL=

# COMPRESS_QUALITY=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_MIN_CONNS=
DB_MAX_CONNS=
DB_MAX_IDLE_TIME=
TZ=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

MIDTRANS_SERVER_KEY =

TRANSACTION_EXPIRATION_TTL=