ENVIRONMENT=
# valid values: local, development, production

# Local Development
HTTP_ADDR=
HTTP_PORT=
ENDPOINT_PREFIX=

GRPC_ADDR=
GRPC_PORT=

CONSUL_ADDR=
SERVICE_NAME=
LOG_LEVEL=

# COMPRESS_QUALITY=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_MIN_CONNS=
DB_MAX_CONNS=
DB_MAX_IDLE_TIME=
TZ=

MINIO_HOST=
MINIO_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_TICKETS_BUCKET=
MINIO_LOCATION=

CDN_BASE_URL=

NATS_JETSREAM_PORT=

PHOTO_SVC_NAME= 
AI_SVC_NAME= 
UPLOAD_SVC_NAME= 
TRANSACTION_SVC_NAME= 
USER_SVC_NAME=